address_to_library_card_type/__pycache__/__init__.cpython-312.pyc
address_to_library_card_type/__pycache__/c_to_c_functions.cpython-312.pyc
address_to_library_card_type/__pycache__/routes.cpython-312.pyc
bookcover/__pycache__/__init__.cpython-312.pyc
bookcover/__pycache__/routes.cpython-312.pyc
reviewer_signup/__pycache__/__init__.cpython-312.pyc
reviewer_signup/__pycache__/routes.cpython-312.pyc
submission_review/__pycache__/__init__.cpython-312.pyc
submission_review/__pycache__/routes.cpython-312.pyc
.env